body {
  height: 95vh;
  background: #000;
}
.modificaRistoranteContainer {
}
img {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  body {
    min-height: 100vh;
  }
  img {
    width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  body {
    min-height: 100vh;
  }
  img {
    width: 100%;
    height: 250px;
  }
}
