<body>
  <div
    class="container d-flex align-items-center justify-content-center h-100 py-5"
  >
    <div class="row loginContainer p-2 px-l-3 px-xl-4">
      <h2 class="text-center fs-1">Login</h2>
      <div class="col-12">
        <form (ngSubmit)="login()">
          <div class="form-group pb-3">
            <label for="username">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
              [(ngModel)]="loginUser.email"
              autocomplete="off"
              class="w-100"
            />
          </div>
          <div class="form-group pb-3">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
              autocomplete="off"
              class="w-100"
              [(ngModel)]="loginUser.password"
            />
          </div>
          <div class="form-group py-3">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
