<body>
  <div class="container h-100 w-100 p-5">
    <div class="secondDiv p-5">
      <form (ngSubmit)="registerCustomer()">
        <div class="row">
          <div class="col-6">
            <div>
              <label for="logoInput">Seleziona la tua Immagine:</label>
              <input
                type="file"
                id="logoInput"
                (change)="onLogoSelected($event)"
                accept="image/*"
              />
            </div>
            <div class="form-group">
              <label for="name">Nome:</label>

              <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="newUser.name"
                placeholder="Nome"
                required
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <label for="surname">Cognome:</label>

              <input
                type="text"
                id="surname"
                name="surname"
                [(ngModel)]="newUser.surname"
                placeholder="Cognome"
                required
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <label for="email">E-Mail:</label>

              <input
                type="email"
                id="email"
                name="email"
                [(ngModel)]="newUser.email"
                placeholder="E-Mail"
                required
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <label for="password">Password:</label>

              <input
                type="password"
                id="password"
                name="password"
                [(ngModel)]="newUser.password"
                placeholder="Password"
                required
                minlength="6"
                autocomplete="off"
              />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Invia</button>
          </div>
          <div
            class="my-img col-6 d-flex justify-content-center align-items-center"
          >
            <div *ngIf="newUser.avatar">
              <img [src]="newUser.avatar" alt="Logo" width="100" height="100" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
