<body>
  <div class="container py-5">
    <form (ngSubmit)="onSubmit()" class="px-0">
      <div class="modificaRistoranteContainer row bg-light p-3">
        <div class="col-6 px-0 pe-3">
          <div>
            <label for="logoInput">Seleziona il Logo:</label>
            <input
              type="file"
              id="logoInput"
              (change)="onLogoSelected($event)"
              accept="image/*"
            />
          </div>

          <div class="form-group pb-3">
            <label for="title">Titolo:</label>

            <input
              type="text"
              id="title"
              name="title"
              [(ngModel)]="restaurantDto.title"
              placeholder="Titolo"
              required
              autocomplete="off"
              class="w-100"
            />
          </div>
          <div class="form-group pb-3">
            <label for="description">Descrizione:</label>

            <input
              type="text"
              id="description"
              name="description"
              [(ngModel)]="restaurantDto.description"
              placeholder="Descrizione"
              required
              autocomplete="off"
              class="w-100"
            />
          </div>
          <div class="form-group pb-3">
            <label for="telephone_contact">Telefono:</label>

            <input
              type="text"
              id="telephone_contact"
              name="telephone_contact"
              [(ngModel)]="restaurantDto.telephone_contact"
              placeholder="Telefono"
              required
              autocomplete="off"
              class="w-100"
            />
          </div>
          <div class="form-group pb-3">
            <label for="seat">Posti a sedere:</label>

            <input
              type="number"
              id="seat"
              name="seat"
              [(ngModel)]="restaurantDto.seat"
              placeholder="Posti"
              required
              autocomplete="off"
              class="w-100"
            />
          </div>
          <div class="form-group pb-3">
            <label for="address">Via:</label>

            <input
              type="text"
              id="address"
              name="address"
              [(ngModel)]="restaurantDto.address"
              placeholder="Via"
              required
              autocomplete="off"
              class="w-100"
            />
          </div>
          <div class="form-group pb-3">
            <label for="city">Citta:</label>

            <input
              type="text"
              id="city"
              name="city"
              [(ngModel)]="restaurantDto.city"
              placeholder="Citta"
              required
              autocomplete="off"
              class="w-100"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-3">Crea</button>
        </div>
        <div
          class="col-6 px-0 d-flex align-items-center justify-content-center"
        >
          <div *ngIf="restaurantDto.logo">
            <img
              [src]="restaurantDto.logo"
              alt="Logo"
              width="100"
              height="100"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
