<html>
  <body>
    <div class="container w-100 h-100">
      <div id="main-part" class="row justify-content-center align-items-center">
        <div id="interactive-window" class="col-6 rounded">
          <div class="d-flex justify-content-center p-1">
            <h1 class="m-0 fst-italic">HAI UN'ATTIVITA'?</h1>
          </div>
          <div class="p-3">
            <div>
              <p class="text-white fs-5">
                Con noi il tuo Locale diventera' il miogliore della zona,
                registrati qui sotto.
              </p>
            </div>
            <div class="d-flex justify-content-center">
              <a
                class="fs-5 text-center text-white fw-bold nav-link rounded bg-primary d-flex justify-content-center w-50"
                [routerLink]="['/registerowner']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Registrati come nuovo Proprietario
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
