<body class="bg-dark">
  <div class="container py-5">
    <div class="bg-light p-3">
      <div *ngIf="user">
        <h2 class="row justify-content-center">Dettagli del profilo</h2>
        <ul>
          <li><strong>Nome:</strong> {{ user.name }}</li>
          <li><strong>Cognome:</strong> {{ user.surname }}</li>
          <li><strong>Email:</strong> {{ user.email }}</li>
        </ul>
      </div>

      <div *ngIf="!user">
        <p>Caricamento...</p>
      </div>
      <hr />
      <app-modifica-profilo></app-modifica-profilo>
    </div>
  </div>
</body>
