<p>p works!</p>

<div *ngIf="restaurants$ | async as restaurants; else loading">
  <h1>Lista dei ristoranti</h1>

  <ul>
    <li *ngFor="let restaurant of restaurants">
      <h2>{{ restaurant.title }}</h2>
      <p>Indirizzo: {{ restaurant.address }}</p>
      <p>Telefono: {{ restaurant.telephone_contact }}</p>
      <img [src]="restaurant.logo" alt="Restaurant Logo" />
      <button
        *ngIf="(currentUserType$ | async) === 'CUSTOMER'"
        (click)="navigateToReservation(restaurant.id)"
      >
        Prenota
      </button>
    </li>
  </ul>

  <ng-template #noRestaurants>
    <p>Nessun ristorante disponibile al momento.</p>
  </ng-template>
</div>

<ng-template #loading>
  <p>Caricamento in corso...</p>
</ng-template>
